html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.leaflet-top {
  top: 70px; /* Adjust this value to the height of your navbar */
}

.spinner-border-sm {
    margin-right: 0.5rem; /* Optional: Add spacing between spinner and text */
}

#colorbar-container {
    width: 256px;
    margin: 10px auto; /* Center the colorbar horizontally */
}

#colorbar {
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto; /* Center the canvas */
}

#colorbar-labels {
    font-size: 14px;
    color: #333;
}